
<div class="lobster-container">
  <svg width="1024" height="768" xmlns="http://www.w3.org/2000/svg">
    <title>
      Lobster
    </title>
    <g>
      <title>
        Claw
      </title>
      <g id="claw-right">
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m691.133667,233.959686c8.92157,19.796143 4.133789,44.472046 -11.670044,60.163483c-15.803833,15.691467 -38.685852,18.484863 -55.789551,6.814392c-17.10376,-11.670563 -24.164429,-34.899872 -17.214233,-56.631241l84.673828,-10.346634l0,0z" id="arm-right-1" stroke="#000000"/>
        <path fill="#FF0000" stroke="#000000" stroke-width="5" d="m682.925598,100.690887c-28.623962,-49.176723 -102.073486,-72.526716 -101.644592,-71.179111c0.428955,1.347605 42.183411,107.457737 38.105957,109.070698c-4.077393,1.612961 -69.791199,-57.44313 -71.350769,-56.493858c-1.559509,0.94928 -21.678711,28.93544 10.915649,98.703697c32.594421,69.768097 73.791138,70.381393 81.747192,68.084015c7.956055,-2.29744 36.383667,-6.585587 45.543579,-12.477921c9.15979,-5.892288 25.307007,-86.530792 -3.317017,-135.70752z" id="pincer-right"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m668.282104,306.265106c-4.878723,18.056732 -21.708069,33.591278 -41.030151,37.877045c-19.322144,4.285797 -36.320557,-3.747772 -41.44635,-19.584381c-5.125916,-15.83667 2.901489,-35.531006 19.569519,-48.01358l62.906982,29.720917l0,0z" id="arm-right-2" stroke="#000000"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m614.832642,349.134949c-9.79071,10.747375 -25.596069,13.597626 -38.535034,6.951538c-12.939087,-6.646149 -19.785522,-21.133484 -16.694763,-35.321381c3.090698,-14.187866 15.35083,-24.539764 29.888977,-25.23761l25.34082,53.607452l0,0z" id="arm-right-3" stroke="#000000"/>
     </g>
     <g id="claw-left">
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m313.3367,234.142029c-9.522675,19.592163 -4.412292,44.013855 12.45636,59.54361c16.868622,15.529755 41.292358,18.294434 59.548492,6.744141c18.256104,-11.550323 25.792542,-34.540253 18.374084,-56.047745l-90.378937,-10.240005l0,0z" id="arm-left-1" stroke="#000000"/>
        <path fill="#FF0000" stroke-width="5" d="m322.097015,102.246857c30.552551,-48.670033 108.950867,-71.779449 108.493103,-70.445724c-0.457825,1.333714 -45.025604,106.350601 -40.673462,107.94693c4.352142,1.596329 74.493591,-56.851318 76.158203,-55.911789c1.664612,0.939507 23.139374,28.637291 -11.651093,97.686691c-34.790527,69.049286 -78.763,69.656265 -87.255096,67.382553c-8.492126,-2.273758 -38.835083,-6.517746 -48.612152,-12.34935c-9.777008,-5.831604 -27.012146,-85.639221 3.540497,-134.309326l0,0.000008l0,0.000008z" id="pincer-left" stroke="#000000"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m337.727905,305.702576c5.207489,17.870697 23.170746,33.245178 43.794678,37.486786c20.623993,4.241638 38.7677,-3.709137 44.238892,-19.382599c5.471252,-15.673492 -3.096985,-35.164917 -20.888092,-47.51889l-67.145477,29.414703l0,0z" id="arm-left-2" stroke="#000000"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m394.778717,348.130829c10.450378,10.636627 27.320648,13.457489 41.131439,6.879883c13.810852,-6.577637 21.118622,-20.91571 17.819611,-34.957397c-3.29895,-14.041718 -16.385132,-24.286957 -31.902802,-24.977631l-27.048248,53.055145l0,0z" id="arm-left-3" stroke="#000000"/>
     </g>
    </g>
    <g>
      <title>
        Body
      </title>
      <g id="leg-left-1">
        <path id="svg_16" fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m307.831665,428.006409l-14.427002,-10.556c0,0 -21.869019,34.208008 -22.368011,45.593994c-0.5,11.388 36.795013,-35.037994 36.795013,-35.037994z" stroke="#000000"/>
        <path id="svg_17" fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m403.70166,381.690399c-0.348999,-0.018982 -28.662994,0.705017 -50.968018,7.708008c-22.306,7.002991 -50.863983,21.248993 -50.625977,21.016998c0.238983,-0.230988 5.075989,14.393005 5.313995,14.161987c0.23999,-0.230988 40.686981,-9.359985 51.673004,-13.03598c10.985992,-3.675995 48.527985,-15.766998 48.766998,-15.998016c0.238007,-0.231995 -4.160004,-13.852997 -4.160004,-13.852997z" stroke="#000000"/>
        <path id="svg_18" fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m303.819641,409.373413c-4.63797,0.074005 -8.975983,3.065002 -10.580994,7.294983c-1.604004,4.230011 -0.074005,8.64502 3.731995,10.763c3.808014,2.114014 8.940002,1.407013 12.513,-1.725983l-5.664001,-16.332001l0,0z" stroke="#000000"/>
        <path id="svg_19" fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m420.56366,376.227417c-5.351013,-2.059998 -11.290009,-0.443024 -14.485016,3.946991c-3.194,4.390991 -2.848999,10.457001 0.845001,14.792999c3.699005,4.329987 9.819,5.852997 14.925018,3.707001l-1.285004,-22.446991l0,0z" stroke="#000000"/>
     </g>
     <g id="leg-left-2">
        <path id="svg_22" fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m320.141724,487.485107l-16.048035,-7.875732c0,0 -15.562408,37.500061 -14.066376,48.79834c1.495392,11.300415 30.11441,-40.922607 30.11441,-40.922607z" stroke="#000000"/>
        <path id="svg_23" fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m406.455719,425.146362c-0.346985,0.042206 -28.099945,5.697205 -48.84021,16.485962c-20.741241,10.78894 -46.374237,29.800934 -46.180359,29.530945c0.194977,-0.269135 7.510315,13.286072 7.704346,13.017059c0.195984,-0.269348 38.428619,-16.318085 48.60437,-21.855194c10.17572,-5.53714 45.030945,-23.995361 45.225983,-24.264557c0.193848,-0.269958 -6.51413,-12.914215 -6.51413,-12.914215z" stroke="#000000"/>
        <path id="svg_26" fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m312.938965,469.83844c-4.553833,0.882416 -8.303192,4.584686 -9.145233,9.029877c-0.841064,4.445068 1.436066,8.525238 5.553345,9.946381c4.118561,1.41687 9.04834,-0.175049 12.019653,-3.883606l-8.427765,-15.092651l0,0z" stroke="#000000"/>
        <path id="svg_28" fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m422.105316,416.824036c-5.628448,-1.094391 -11.194,1.534393 -13.57373,6.414703c-2.37854,4.881073 -0.980011,10.793732 3.414093,14.418427c4.398041,3.617859 10.689911,4.049255 15.342957,1.044983l-5.183319,-21.878113l0,0z" stroke="#000000"/>
     </g>
     <g id="leg-left-3">
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m346.239624,549.49408l-17.232117,-4.756165c0,0 -8.322205,39.738953 -4.752533,50.562378c3.569427,10.825684 21.98465,-45.806213 21.98465,-45.806213z" id="svg_74" stroke="#000000"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m419.464844,472.2005c-0.333099,0.105957 -26.551666,10.820099 -44.925629,25.27533c-18.374878,14.455597 -40.028107,37.900085 -39.887787,37.598755c0.141571,-0.30072 9.848602,11.658875 9.989258,11.358521c0.142517,-0.301086 34.726593,-23.175476 43.696045,-30.507202c8.969421,-7.331787 39.78714,-31.946014 39.928772,-32.246765c0.140289,-0.30127 -8.800659,-11.478638 -8.800659,-11.478638z" id="svg_75" stroke="#000000"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m335.882874,533.493408c-4.310516,1.713318 -7.306519,6.047913 -7.3078,10.572083c-0.000336,4.523987 2.995392,8.109924 7.305054,8.74115c4.31015,0.62677 8.858185,-1.853577 11.088531,-6.049744l-11.085785,-13.263489l0,0z" id="svg_76" stroke="#000000"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m433.295166,461.114807c-5.733765,-0.029327 -10.713837,3.587982 -12.145142,8.825531c-1.429993,5.238098 1.042999,10.787842 6.03418,13.532776c4.993774,2.737488 11.256195,1.992096 15.269867,-1.824585l-9.158905,-20.533722l0,0z" id="svg_77" stroke="#000000"/>
     </g>
      <ellipse stroke="#000" ry="141.375" rx="84" id="svg_2" cy="386.625" cx="506" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="#f00"/>
      <g transform="rotate(-2.662 654.701 423.636)" id="leg-right-1">
        <title>
          leg
        </title>
        <path id="svg_40" d="m692.1875,430.125l14.03125,-9.726563c0,0 19.191406,35.355469 19.191406,46.746094c0,11.390625 -33.222656,-37.019531 -33.222656,-37.019531z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000" fill="#f00"/>
        <path stroke="#000" id="svg_39" d="m603.766235,378.550781c0.329041,0 26.979614,2.305695 47.707825,10.540344c20.72821,8.234619 47.049744,24.045105 46.834473,23.801117c-0.215271,-0.243988 -5.378052,14.078186 -5.593323,13.834198c-0.215271,-0.243988 -37.950928,-11.613892 -48.150574,-15.895905c-10.199585,-4.282013 -45.075623,-18.445557 -45.290894,-18.689545c-0.215332,-0.243988 4.492493,-13.59021 4.492493,-13.59021z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="#f00"/>
        <path stroke="#000" transform="rotate(-134.228 696.723 421.087)" id="svg_32" d="m705.481628,427.488861c-3.285278,2.896912 -8.362488,3.487762 -12.383667,1.438446c-4.021179,-2.049438 -5.98407,-6.226013 -4.783142,-10.184418c1.205078,-3.956268 5.269043,-6.708893 9.910095,-6.708893l7.256714,15.454865l0,0z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="#f00"/>
        <path stroke="#000" id="svg_36" transform="rotate(-152.808 598.48 385.175)" d="m608.497498,393.805756c-3.757751,3.905792 -9.565002,4.702393 -14.16449,1.939392c-4.599365,-2.763123 -6.844604,-8.394226 -5.470947,-13.73114c1.378418,-5.334045 6.026733,-9.045258 11.335144,-9.045258l8.300293,20.837006l0,0z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="#f00"/>
      </g>
      <g id="leg-right-2">
        <path fill="#FF0000" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m682.463623,487.940155l14.955872,-8.234314c0,0 15.459412,37.139313 14.289734,48.469696c-1.169678,11.330444 -29.245605,-40.235382 -29.245605,-40.235382z" id="svg_44"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m599.805786,427.558807c0.327332,0.033783 26.60022,5.063965 46.373291,15.383636c19.77301,10.319611 44.331848,28.74939 44.142822,28.484589c-0.189087,-0.264801 -6.795288,13.451508 -6.984375,13.186707c-0.189087,-0.264801 -36.557739,-15.449585 -46.263733,-20.756348c-9.705933,-5.306732 -42.943176,-22.976746 -43.132263,-23.241547c-0.189148,-0.264801 5.864258,-13.057037 5.864258,-13.057037z" stroke="#000000" id="svg_45"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m687.493652,468.57486c4.310059,0.780212 7.922668,4.396332 8.809265,8.821655c0.886536,4.425385 -1.172119,8.555603 -5.022034,10.068756c-3.850769,1.508606 -8.530579,0.028107 -11.40918,-3.612396l7.621948,-15.278015l0,0z" stroke="#000000" id="svg_46"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m590.18573,420.905212c5.280579,-1.22113 10.581055,1.281586 12.926453,6.107422c2.345215,4.825867 1.152405,10.769562 -2.911926,14.491241c-4.066772,3.716675 -9.987305,4.288605 -14.434937,1.390778l4.42041,-21.989441l0,0z" stroke="#000000" id="svg_47"/>
     </g>
     <g id="leg-right-3">
        <path fill="#FF0000" stroke="#000000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m654.917175,545.819153l16.257446,-5.213318c0,0 8.050049,39.414673 4.729187,50.310486c-3.320801,10.895813 -20.986633,-45.097168 -20.986633,-45.097168z" id="svg_50"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m585.373108,470.706909c0.314758,0.095947 25.135376,10.071228 42.562378,23.991302c17.427002,13.920013 37.995667,36.717499 37.860901,36.421295c-0.134827,-0.296143 -9.24884,11.898743 -9.383606,11.602539c-0.134827,-0.296082 -32.916321,-22.173645 -41.4245,-29.243225c-8.508118,-7.069611 -37.739807,-30.785675 -37.874573,-31.081818c-0.134888,-0.296173 8.259399,-11.690094 8.259399,-11.690094z" stroke="#000000" id="svg_51"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m663.567871,527.77832c4.080322,1.592285 6.932434,5.834106 6.953918,10.34729c0.021362,4.513306 -2.791138,8.172058 -6.85968,8.918762c-4.068665,0.742126 -8.377686,-1.608337 -10.5047,-5.733276l10.410461,-13.532776l0,0z" stroke="#000000" id="svg_52"/>
        <path fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m577.208191,462.332031c5.416748,-0.185791 10.138916,3.286987 11.515259,8.473022c1.376221,5.186035 -0.934326,10.79068 -5.636902,13.663849c-4.704041,2.867767 -10.62439,2.293701 -14.433777,-1.40329l8.55542,-20.733582l0,0z" stroke="#000000" id="svg_53"/>
     </g>
      <ellipse rx=".316" id="svg_90" cy="222.035" cx="536.832" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000"/>
      <path stroke="#000" transform="rotate(13.424 456.18 18.884)" id="svg_99" d="m456.179718,18.883583c62.804169,41.056484 57.02182,113.822319 90.871307,209.490974" stroke-linecap="round" stroke-linejoin="null" stroke-dasharray="null" stroke-width="3" fill="none"/>
      <path id="svg_100" stroke="#000" transform="rotate(13.424 540.302 14.374)" d="m545.187927,14.374245c-11.909973,74.502922 -18.792847,135.387215 15.056641,231.05587" stroke-linecap="round" stroke-linejoin="null" stroke-dasharray="null" stroke-width="3" fill="none"/>
      <ellipse class="eye-ball" stroke="#000" ry="17.11" rx="17.672" id="eye-ball-left" cy="293.66" cx="482.117" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="#fff"/>
      <ellipse class="pupil" stroke="#000" ry="2.997" rx="3.372" id="svg_89" cy="289.383" cx="482.906" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="4"/>
      <ellipse class="eye-ball" stroke="#000" id="eye-ball-right" ry="17.11" rx="17.672" cy="292.131" cx="529.742" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" fill="#fff"/>
      <ellipse class="pupil" stroke="#000" id="svg_94" ry="2.997" rx="3.372" cy="287.729" cx="528.672" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="4"/>
    </g>
    <g>
      <title>
        Tail
      </title>
      <g id="tail-full">
        <title>
          tail
        </title>
          <path id="carpace-1" fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m565.408936,490.804749c11.113647,26.227539 3.246521,56.707886 -19.190674,74.286194c-22.438904,17.591187 -53.838745,17.914795 -76.566498,0.78302c-22.731934,-17.122986 -31.120758,-47.435913 -20.45163,-73.888641l116.208801,-1.180573l0,0z" stroke="#000000"/>
          <path id="carpace-2" fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m558.246582,550.886902c9.644043,22.759399 2.8172,49.209167 -16.653076,64.463074c-19.47168,15.265076 -46.719482,15.545898 -66.441833,0.679504c-19.725983,-14.858765 -27.005554,-41.16333 -17.747253,-64.118042l100.842163,-1.024536l0,0z" stroke="#000000"/>
          <path id="carpace-3" fill="#FF0000" stroke-width="5" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m555.469666,600.103333c9.098511,21.471924 2.657837,46.425537 -15.710999,60.816589c-18.3703,14.40155 -44.076691,14.666443 -62.68338,0.640991c-18.610168,-14.018188 -25.477936,-38.834778 -16.743347,-60.491028l95.137726,-0.966553l0,0z" stroke="#000000"/>
        <g id="tail" stroke-linejoin="null" stroke-dasharray="null" stroke="#000">
          <path id="svg_27" d="m460.484375,643.262695l94.609375,-0.234375c17.62207,30.287109 50.743103,34.837891 58.324219,61.910156c7.581116,27.072266 7.642578,48.09082 -20.543945,49.672852c-28.186523,1.582031 -34.514648,-14.317383 -40.842773,-14.739258c-6.328125,-0.421875 -21.041016,15.84668 -42.556641,15.424805c-21.515625,-0.421875 -33.539063,-14.422852 -42.398438,-14.422852c-8.859375,0 -15.134766,15.583008 -35.806641,14.739258c-20.671875,-0.84375 -35.753906,-18.694336 -30.269531,-46.959961c5.484375,-28.265625 44.71875,-37.125 59.484375,-65.390625z" stroke-linecap="null" stroke-width="5" fill="#f00"/>
          <path transform="rotate(5.506 473.987 697.263)" opacity=".5" id="svg_24" stroke-linecap="round" stroke-width="4" fill="none" d="M479.237 674.013L468.737 720.513"/>
          <path transform="rotate(-3.003 544.338 696.337)" opacity=".5" id="svg_25" stroke-linecap="round" stroke-width="4" fill="none" d="M537.213 672.712L551.463 719.962"/>
        </g>
      </g>
    </g>
  </svg>
</div>